.custom-navbar {
    height: 100px;
    background-color: #0A2F51; /* Color hexadecimal personalizado */
  }

.custom-navbar .navbar-nav .nav-link {
    color: #FFFFFF !important; /* Color de texto blanco */
    font-size: 25px; /* Tamaño de fuente más grande */
    font-weight: bold; /* Texto en negrita */
  }